@import "../../../style/_variables.scss";
.map {
	margin-top: 100px;
	width: 1280px;
	min-width: 1280px;
	height: 800px;
	background-image: url("../../../assets/images/map.png");
	background-repeat: no-repeat;

	@media (max-width: 1280.98px) {
		margin-top: 0;
		min-width: 1280px;
	}
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn {
	@extend %default__btn;
}
