@import "../../../style/_variables.scss";
.map {
	background-image: url("../../../assets/images/map.png");
	background-repeat: no-repeat;

	// .map__info
	&__info {
		height: 100px;
		z-index: 3;
		background-color: rgba(#333, 0.7);
		padding: 5px 10px;
		margin: 5px;
		border-radius: 10px;
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-left: 10px;
	}

	// .map__empty
	&__empty {
		color: white;
		font-size: 16px;
		line-height: 20px;
		margin: 0;
		padding: 0;
	}

	// .map__btn
	&__btn {
		@extend %default__btn;
		margin-bottom: 10px;
	}
}
