.balloon {
	position: absolute;
	width: 120px;
	height: 60px;
	text-align: center;
	padding: 0 5px 5px 5px;

	background-color: rgba(#333, 0.7);
	top: 45%;
	left: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	pointer-events: all;
	border-radius: 10px;

	// .ballon__text
	&__text {
		color: #fff;
		font-size: 12px;
		line-height: 14px;
		margin: 0;
		padding: 0;
	}
	// .ballon__description
	&__description {
		color: #fff;
		font-size: 12px;
		line-height: 14px;
		margin: 0;
		padding: 0;
		word-break: break-all;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	&__close {
		margin-top: 2px;
		align-self: flex-end;
		border: none;
		color: #fff;
		background-color: transparent;
		font-size: 12px;
		@media (min-width: 992.98px) {
			&:hover {
				color: #78d774;
				cursor: pointer;
			}
		}
	}

	&__arrow {
		position: absolute;
		left: 42.5%;
		top: 56.5px;
		margin-top: -10px;
		display: block;
		width: 0px;
		height: 0px;
		border-top: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid rgba(#333, 0.7);
		transform: rotate(-45deg);
	}
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 5;
}
